[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pendulum = "*"
flask-login = "*"


[dev-packages]

